zoo {
    font-size: 18px;
    width: 63%;
    margin: 25px, 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #62576c;
    min-width: 1000px;
}

title {
      display:block;
      font-weight:bolder;
      text-align:center;
      font-size:45px;
      background-color: #C9614D;
      color: #FFFFF1;
	  height: 70px;
	  width: 100%;

      }

zwierzęta {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    background-color: #C9614D;
}
 
opiekunowie {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    background-color: #C9614D;
}

jedzenie {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    background-color: #C9614D;
}


zwierzę, opiekun, produkty {
    background-color: #F2E1D4;
    display: block;
    padding: 10px;
    text-align: left;
    margin: 5px;
}
zwierzę:hover {
    background-color: #575858;
}

opiekun:hover {
    background-color: #507B60;
}

produkty:hover {
    background-color: #C961AD;
}
