zwierzęta, opiekunowie, sekcje, jedzenie {
	display: table;
	width: 100%;
    font-family: Helvetica;
    font-size:25px;
	font-weight: bold;
}
zwierzęta::before{
	content: "Zwierzęta: \a id  gatunek  imię  lata  waga  wzrost";
	white-space: pre;
	display: block;
	width: 100%;
    font-family: Helvetica;
    font-size:25px;
	font-weight: bold;
	text-align:left;
	padding: 15px;
	letter-spacing: normal;
	background-color: #575858;
	color: #F2E1D4;
}
opiekunowie::before{
	content: " Opiekunowie: \a id  gatunek  imię  lata  waga  wzrost";
	white-space: pre;
	display: block;
	width: 100%;
    font-family: Helvetica;
    font-size:25px;
	font-weight: bold;
	text-align:left;
	padding: 15px;
	letter-spacing: normal;
	background-color: #575858;
	color: #F2E1D4;
}
zwierzę {
	display: table-row-group;
    text-align:left;
	letter-spacing: normal;
	background-color: #62576c;
	color: #F2E1D4;
}

id, gatunek, imię, wiek, waga, wzrost, pożywienie, pesel, telefon, ilość{
	margin:15px;
}
opiekun {
	display: table-row-group;
    text-align:left;
	letter-spacing: normal;
	background-color: #507B60;
	color: #F2E1D4;
}
sekcja {
	display: table-row-group;
    text-align:left;
	letter-spacing: normal;
	background-color: #62576c;
	color: #F2E1D4;
}
produkty {
	display: table-row-group;
    text-align:left;
	letter-spacing: normal;
	background-color: #507B60;
	color: #F2E1D4;
}

title {
      display:block;
      font-weight:bolder;
      text-align:center;
      font-size:45px;
      background-color: #C9614D;
      color: #FFFFF1;
	  height: 70px;

      }
